<h4 class="text-center" style="padding-top: 3%">MyCart</h4>
<app-not-found
  [visible]="!cart || cart.items.length > 0"
  notFoundMessage=""
  resetLinkText="Add more"
></app-not-found>
<app-not-found
  [visible]="!cart || cart.items.length <= 0"
  notFoundMessage="Cart Page Is Empty!"
  resetLinkText="Go To Homepage"
>
</app-not-found>

<br /><br />

<div class="box-form">
  <div *ngIf="cart && cart.items.length > 0" class="container">
    <div>
      <ul>
        <li *ngFor="let cartItem of cart.items">
          <div>
            <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name" />
          </div>
          <div>
            <a routerLink="/food/{{ cartItem.food.id }}">
              {{ cartItem.food.name }}
            </a>
          </div>

          <div>
            <select
              #quantitySelect
              (change)="changeQuantity(cartItem, quantitySelect.value)"
            >
              <!-- [(ngModel)
            ]="value" -->
              <option value="1" id="1">1</option>
              <option value="2" id="2">2</option>
              <option value="3" id="3">3</option>
              <option value="4" id="4">4</option>
              <option value="5" id="5">5</option>
            </select>
          </div>

          <div>₹{{ cartItem.price }}</div>

          <div>
            <button
              class="remove-button btn-warning"
              (click)="removeFromCart(cartItem)"
            >
              Remove
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="checkout">
      <h4 class="text-center">Checkout</h4>
      <div class="foods-count">
        <b>{{ cart.totalQuantity }}</b>
      </div>
      <div class="total-price">
        <b>₹{{ cart.totalPrice }}</b>
      </div>

      <div class="placeorder">
        <button class="btn btn-success" routerLink="/checkout">Checkout</button>
      </div>
    </div>
  </div>
</div>
