<!-- <div class="bootstrap-wrapper">
   
  <div class="container">
       
    <div class="row mt20">
           
      <div class="col-md-6 offset-md-3">
               
        <mat-card
          >          <mat-card-content> ... </mat-card-content>                 
               
          <form action="" class="form-control">
                   
            <h1 class="text-center">Login Here !</h1>
            <img
              src="https://www.flaticon.com/free-icons/burger"
              title="burger icons"
            />
            <!-- Username field        
            <mat-form-field class="full-width" appearance="outline"
              >            <mat-label>User Email</mat-label>           
              <input
                required
                matInput
                placeholder="Your Email id here!"
                name="email"
                [(ngModel)]="user.email"
              />            <mat-hint>Valid Email</mat-hint>          </mat-form-field
            >       
            <!-- Password field     
            <mat-form-field class="full-width" appearance="outline"
              >          <mat-label>Password</mat-label>         
              <input
                type="password"
                required
                matInput
                placeholder="Enter here"
                name="password"
                [(ngModel)]="user.password"
              />        </mat-form-field
            >       
            <div class="container text-center">
                       
              <button
                mat-raised-button
                color="accent"
                type="submit"
                (click)="formSubmit()"
              >
                            Login         </button
              >         
              <button
                mat-raised-button
                color="warn"
                type="reset"
                class="ml30px"
              >
                            Reset         </button
              >       
            </div>
                   
          </form>
                </mat-card
        >          
      </div>
         
    </div>
     
  </div>
</div>
-->

<!-- Login Form new -->
<div class="box-form">
  <div class="left">
    <div class="overlay">
      <img class="bgimg" src="./assets/taxi-fast-pizza-delivery.png" alt="" />
    </div>
  </div>

  <div class="right text-center">
    <h1>Login</h1>
    <p>
      Login with your username and password OR Create an account from here
      <a href="#" routerLink="/signup"> Register </a> !!!
    </p>
    <div class="inputs">
      <input
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="user.email"
        required
      />
      <br />
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="user.password"
        required
      />
    </div>

    <br /><br />

    <div class="remember-me--forget-password">
      <!-- Angular -->
      <!-- <label>
        <input type="checkbox" name="item" checked />
        <span class="text-checkbox">Remember me</span>
      </label> -->
      <p>forget password?</p>
    </div>

    <br />
    <button (click)="formSubmit()" type="submit">Login</button>
  </div>
</div>
