<app-search></app-search> <app-tags></app-tags>

<ul class="container">
  <li *ngFor="let food of foods">
    <a routerLink="/food/{{ food.id }}">
      <img src="{{ food.imageUrl }}" alt="food images" />
      <div class="content">
        <div class="name">
          <span style="color: black">{{ food.name }}</span>
          <span class="favourite {{ food.favourite ? '' : 'not' }}"
            ><b>♥</b></span
          >
        </div>
        <br />
        <div class="food-details">
          <span class="display-rating"> ✩ {{ food.star }} </span> |
          <span> {{ food.cookTime }} </span> | <span> ₹{{ food.price }}</span>
        </div>
      </div>
    </a>
  </li>
</ul>
